# app/requirements-runtime.txt
flask
sqlalchemy
python-jose[cryptography]
psycopg
itsdangerous
langchain
langchain-community
langchain-core
langchain-openai
langchain-postgres
langchain-siliconflow
langchain-text-splitters
langgraph-checkpoint
langgraph-sdk
langsmith
openai
fastapi
uvicorn[standard]
httpx[http2]
httpx_retries
redis[hiredis]
python-multipart
pydantic
werkzeug
starlette
tiktoken